* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--cor-links);
}

li {
  list-style: none;
}

body {
  background-color: #000;
  font-family: minhaFonte;
}
/*Variaveis*/
:root {
  --fundo-card: #1b2226;
  --texto-principal: #fff;
  --cor-links: #70b5f9;
  --branco-secundario: #ffffff99;
}

/* Fonts */

@font-face {
  font-family: minhaFonte;
  src: url(../assets/fonts/Segoe\ UI.ttf);
}
@font-face {
  font-family: minhaFonteBold;
  src: url(../assets/fonts/Segoe\ UI\ Bold.ttf);
}
/*--------------------------------------------------------------------------------------*/

nav {
  background-color: #1b2226;
  height: 57px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}

nav .nav-lado-1 {
  display: flex;
}

nav .nav-lado-1 img {
  margin-top: 2px;
}

nav .nav-lado-1 input {
  background-color: #38434f;
  width: 85%;
  height: 28px;
  border: none;
  border-radius: 4px;
  background-image: url(../assets/images/ico/icone-busca.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px;
  padding: 10px 10px 10px 35px;
  margin-left: 5px;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-left: 15px;
  text-align: center;
  font-size: 13px;
  color: var(--texto-principal);
}

nav ul li a {
  color: var(--texto-principal);
}

nav img {
  width: 24px;
}

.ico-solucoes {
  border-left: 1px solid var(--texto-principal);
  padding-left: 10px;
}

/*Lado 1 da pagina*/
.container {
  display: flex;
  justify-content: center;
}

.lado-1 {
  width: 55%;
}
/*-------------------------------------------------------------------------------------*/

/*card perfil*/
/*Lado cima card*/
.lado-1 .info-perfil {
  height: 400px;
  margin-top: 15px;
}

.lado-1 .info-perfil-cima {
  height: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: url(../assets/images/fundo-perfil-cima.jpg);
  background-size: cover;
}

.lado-1 .info-perfil-cima img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  top: 130px;
  left: 25px;
}

/*Lado baixo card*/

.lado-1 .info-perfil-baixo {
  display: flex;
  height: 57%;
  background-color: var(--fundo-card);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.info-perfil-baixo .baixo-lado-1 {
  color: var(--texto-principal);
  padding-top: 44px;
  margin-left: 30px;
  margin-right: 150px;
}

.info-perfil-baixo .baixo-lado-1 p {
  font-size: 13px;
}
.info-perfil-baixo .baixo-lado-1 span {
  color: var(--branco-secundario);
}

.lado-1 .baixo-lado-1-div-links {
  margin-top: 15px;
}

.lado-1 .baixo-lado-1-div-links :first-child {
  background-color: var(--cor-links);
  color: var(--fundo-card);
  padding: 8px 40px 8px 40px;
  border-radius: 15px;
}
.lado-1 .baixo-lado-1-div-links :last-child {
  border: 1px solid var(--cor-links);
  color: var(--cor-links);
  padding: 8px 40px 8px 40px;
  border-radius: 15px;
}

.info-perfil-baixo .baixo-lado-2 {
  color: var(--texto-principal);
  padding-top: 44px;
  margin-left: 30px;
}

.lado-1 .baixo-lado-2 div {
  display: flex;
}

.lado-1 .baixo-lado-2 :first-child {
  margin-bottom: 5px;
}

.lado-1 .baixo-lado-2 div img {
  width: 40px;
  margin-right: 10px;
}
/*---------------------------------------------------------------------- */

.lado-1 .destaques {
  margin-top: 38px;
  height: 300px;
}

.destaques .div-destaque-card {
  display: flex;
  justify-content: space-evenly;
}

.destaque-card .destaque-card-titulo {
  padding-left: 10px;
}

.destaques .destaque-card-titulo :first-child {
  color: var(--branco-secundario);
  font-size: 13px;
}

.div-destaque-card .destaque-card {
  width: 30.55%;
  border: 1px solid var(--branco-secundario);
  border-radius: 10px;
  color: var(--texto-principal);
}

.destaque-card .destaque-card-titulo {
  margin: 10px 0px 5px 10px;
}
.div-destaque-card .destaque-card img {
  width: 100%;
  height: 120px;
  margin-bottom: 3px;
}

.destaque-card .destaque-card-coment {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 0px 10px 0px 10px;
}

.destaque-card .destaque-card-coment p {
  color: var(--branco-secundario);
  font-size: 15px;
}

/*---------------------------------------------------------------------- */
.lado-1 .card-atividades {
  padding-right: 25px;
}

.card-atividades a {
  margin-left: 15px;
  font: 13px;
}

.card-atividades .atividade {
  padding-top: 15px;
  margin-bottom: 5px;
  margin-left: 15px;
}

.atividade .autor-post {
  color: var(--branco-secundario);
}
.atividade .post {
  display: flex;
  margin-top: 10px;
  color: var(--texto-principal);
}

.post img {
  width: 95px;
  margin-right: 10px;
}

.atividade .coments {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  color: var(--branco-secundario);
}

.atividade hr {
  margin: 10px 0px 10px 0px;
}

.atividade .mais-atividades {
  text-align: center;
  padding-bottom: 10px;
  color: var(--branco-secundario);
}
/*---------------------------------------------------------------------- */
.lado-1 .sobre {
  color: var(--texto-principal);
}
/*---------------------------------------------------------------------- */

.sobre p {
  margin-left: 15px;
  padding-bottom: 20px;
}
/*---------------------------------------------------------------------- */
.lado-1 .experiencias {
  padding-bottom: 10px;
}
.experiencias .empresa {
  display: flex;
  margin-left: 14px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.empresa img {
  width: 40px;
}

.nome-empresa p {
  color: var(--texto-principal);
  margin-left: 5px;
}

.experiencias .lista-experiencias {
  margin-left: 30px;
}
.experiencias .lista-experiencias li {
  color: var(--texto-principal);
  display: flex;
  margin-bottom: 15px;
}
.experiencias .lista-experiencias li span {
  display: block;
  color: var(--branco-secundario);
  font-size: 13px;
}
.experiencias .lista-experiencias li img {
  margin-right: 20px;
}
/*---------------------------------------------------------------------- */
.formacao {
  padding-bottom: 20px;
}
.formacao ul {
  margin-left: 14px;
}

.formacao ul li {
  display: flex;
  margin-top: 15px;
  color: var(--texto-principal);
}

.formacao ul li img {
  width: 60px;
  margin-right: 10px;
}

.formacao ul li span {
  display: block;
  color: var(--branco-secundario);
}
/*---------------------------------------------------------------------- */
.idiomas {
  padding-bottom: 20px;
}

.lado-1 .idiomas {
  padding-right: 25px;
}

.idiomas ul {
  margin-left: 10px;
  color: var(--texto-principal);
}

.idiomas ul li span {
  color: var(--branco-secundario);
  font-size: 13px;
}

.idiomas ul hr {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--branco-secundario);
}
/*---------------------------------------------------------------------- */
/*---------------------------------------------------------------------------*/
/*Lado 2 da pagina*/


.lado-2 .card{
  margin-top: 15px;
  width: 150%;
  max-width: 280px;
  color: var(--texto-principal);
  height: 500px;
}

.lado-2 .card img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 8px;
}

.lado-2 .card ul li{
  display: flex;
  padding-top: 20px;

}

.lado-2 .card ul li span{
  color: var(--branco-secundario);
  font-size: 13px;
}

.lado-2 .card ul li a{
  position: relative;
  top: 8px;
  border: 1px solid var(--texto-principal);
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
  color: var(--texto-principal);
}